html {
    font-size: 18px;
}

body {
    background-color: black;
    color: hsl(0, 25%, 94%); /* Adjusted the hue value */
}

a {
    color: brown;
}

a:visited {
    color: rgb(172, 144, 250);
}

a:hover, a:active {
    color: lightblue;
}

table,tr,td, caption{
    border: 2px solid white;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    background-color: #ff005556;
    padding: 1.5rem;
    
}